@import "tailwindcss";

@theme {
  --color-primary: #3caaee;
}

/*Fonts*/
@font-face {
  font-family: "Mongoose";
  font-style: normal;
  src: url("/assets/fonts/mongoose-regular.otf") format("opentype");
  font-display: swap;
}

.font-main {
  font-family: "Mongoose", sans-serif;
}

.font-unsupported {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
